*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: rgb(66, 66, 66);
}

.header{
  background-color: rgb(110, 110, 110);
  text-align: center;
  font-size: 18px;
  padding: 20px 10px;
}

.blogamount{
  float: right;
  width: 100px;
  height: 20px;
  text-align: center;
  background-color: lightgray;
  margin-top:-40px;
  margin-right: 200px;
  padding: 3px;
}

.boxcontainer{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.boxcontainer>*{
  margin-left: 10%;
  margin-top: 10px;
  width: 250px;
  
}

.textInputClass{
  height: 200px;
  background-color: lightgray;
  font-size: 17px;
  min-width: 250px;
    resize: none;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button{
  opacity: 1; /* gör så att spinnerknapparna alltid visas */
  height: 25px;
  background-color: rgb (66, 66, 66);
  color: rgb (66, 66, 66);
}

@media screen and (max-width: 1000px) {
  .header{
    font-size: 10px;
    padding: 0px;
  }
  .blogamount{
    float: none;
    margin-top: 5px;
    text-align: center;
    margin-right: 0px;
  }
}

@media screen and (max-width: 1500px) {
  .boxcontainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
}
.boxcontainer>*{
  margin-left: 0%;
  margin-top: 10px;
  width: 250px;
  background-color: lightgray;
}
}