*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: rgb(66, 66, 66);
}

.header{
  background-color: rgb(110, 110, 110);
  text-align: center;
  font-size: 18px;
  padding: 20px 10px;
}

.blogamount{
  float: right;
  width: 100px;
  height: 20px;
  text-align: center;
  background-color: lightgray;
  margin-top:-40px;
  margin-right: 200px;
  padding: 3px;
}

.flexbox-container{
  display: flex;
  background-color: lightgray;
  flex-direction: column;
  max-width: 100px;
}

.textInputClass{
  height: 100px;
  background-color: lightgray;

}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button{
  opacity: 1; /* gör så att spinnerknapparna alltid visas */
  height: 25px;
  background-color: rgb (66, 66, 66);
  color: rgb (66, 66, 66);
}

@media screen and (max-width: 1000px) {
  .header{
    font-size: 10px;
    padding: 0px;
  }
  .blogamount{
    float: none;
    margin-top: 5px;
    text-align: center;
    margin-right: 0px;
  }
}